<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Chatbot</title>
    <style>
        body {
            font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
        }
    </style>
</head>
<body>
    <h1>Welcome to My Website</h1>
    <!--<script src="https://chatbotnewv3-production.up.railway.app/static/embed_widget.js"></script>-->
    <script src="https://chatbotnewv3-production.up.railway.app/static/chatbot-widget-test.js"></script>
    <script>
        window.initChatbot({
            url: "https://chatbotnewv3-production.up.railway.app/",
            width: "350px",
            height: "570px",
            color: "#fcba03"  // This color will be applied to all the specified elements
        });
    </script>
    
</body>
</html>
