<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="test-button">TEST BUTTON: {{ custom_text }}</button>

    <script nonce="hardcoded_nonce_example">
        console.log('JavaScript execution started');
        function testbtn() {
            console.log("JavaScript function executed");
        }

        document.getElementById('test-button').onclick = function() {
            testbtn();
        };
        console.log("JavaScript execution finished");
    </script>
</body>
</html>